@model IEnumerable<RentNow.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>


@Html.ActionLink("NEW MOVIE" , "New" , "Movies" , new { @class = "btn btn-primary" })<br />


<table class="table table-bordered table-hover" id="movies">
    <thead>
        <tr>
            <th><b>Movie</b></th>
            <th><b>Genre</b></th>
            <th><b>Delete</b></th>
        </tr>
    </thead>
    <tbody>
        
        
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
           var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movies) {
                            return "<a href='/movies/edit/" + movies.id + "'>" + movies.name + "</a>";
                        }
                    },
                    {
                        data : "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-movie-id=" + data + ">Delete</button>";
                        }
                    }
                ]

            });

           $("#movies").on("click", ".js-delete", function () {
               var button = $(this);

               bootbox.confirm("Are you sure you want to delete this movie", function (result) {
                   if (result) {
                       $.ajax({
                           url: "/api/movies/" + button.attr("data-movie-id"),
                           method: "DELETE",
                           success: function () {
                               table.row(button.parents("tr")).remove().draw();

                               console.log("success");
                           }
                       });
                   }
               });
           });


        });


    </script>
    
}
